{% extends "base.html" %}

{% block title %}Profiling Page{% endblock %}

{% block page_title %}Profile a Student{% endblock %}

{% block content %}
<div class="container">
    <form action="/profile" method="POST">
        <div class="grid-container">
            {% for category, details in data.items() %}
            <div class="category">
                <h2>{{ category }}</h2>
                <div>
                    <h3>Strengths</h3>
                    {% for strength in details['strengths'] %}
                        <div>
                            <input type="checkbox" id="strength-{{ category|replace(' ', '-') }}-{{ loop.index }}" name="{{ category|replace(' ', '-') }}-strengths" value="{{ strength }}">
                            <label for="strength-{{ category|replace(' ', '-') }}-{{ loop.index }}">{{ strength }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <h3>Needs</h3>
                    {% for need in details['needs'] %}
                        <div>
                            <input type="checkbox" id="need-{{ category|replace(' ', '-') }}-{{ loop.index }}" name="{{ category|replace(' ', '-') }}-needs" value="{{ need }}">
                            <label for="need-{{ category|replace(' ', '-') }}-{{ loop.index }}">{{ need }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit">Generate Adjustments</button>
    </form>
</div>
{% endblock %}
