{% extends "base.html" %}

{% block title %}Welcome to the Profiling App{% endblock %}

{% block content %}
<div class="container">
    <div class="landing-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="App Logo" class="logo">
        <h1>Welcome to the Profiling App</h1>
        <p>Helping teachers create personalized learning environments for their students.</p>
        <a href="{{ url_for('selection') }}" class="btn btn-primary">Start Profiling</a>
    </div>
</div>
{% endblock %}
