{% extends "base.html" %}
{% block title %}Select Strengths and Hobbies{% endblock %}
{% block content %}
    <form action="{{ url_for('selection') }}" method="POST">
        <h2>Strengths/Interests</h2>
        {% for strength in strengths %}
            <div><input type="checkbox" name="strengths" value="{{ strength }}">{{ strength }}</div>
        {% endfor %}
        <div>
            <input type="checkbox" name="strengths" value="other-strength"> Other
            <input type="text" name="other_strength" placeholder="Specify other strength">
        </div>

        <h2>Hobbies</h2>
        {% for hobby in hobbies %}
            <div><input type="checkbox" name="hobbies" value="{{ hobby }}">{{ hobby }}</div>
        {% endfor %}
        <div>
            <input type="checkbox" name="hobbies" value="other-hobby"> Other
            <input type="text" name="other_hobby" placeholder="Specify other hobby">
        </div>

        <button type="submit">Generate Profile</button>
    </form>
{% endblock %}
